
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Edit Account Information</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        <form method="POST" enctype="multipart/form-data" style="margin: 30px;">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                <label for="rest_name">Restaurant Name</label>
                {{ form.rest_name(class="form-control", id="edit_rest_name") }}
            </div>
            
            <div class="form-group">
                <label for="description">Description</label>
                {{ form.description(class="form-control", id="edit_description") }}
            </div>
            
            <div class="form-group">
                <label for="email">Email</label>
                {{ form.email(class="form-control", id="edit_email") }}
            </div>
            
            <div class="form-group">
                <label for="logo">Restaurant Logo</label>
                {% if restaurant.logo %}
                    <div>
                        <img src="{{ url_for('static', filename='uploaded/rest/' + restaurant.logo) }}" alt="Restaurant Logo" width="100">
                    </div>
                {% endif %}
                {{ form.logo(class="form-control-file", id="edit_logo") }}
            </div>
            
            <div class="form-group">
                <label for="country_of_res">Country of Residence</label>
                {{ form.country_of_res(class="form-control", id="edit_country_of_res") }}
            </div>
            
            <div class="form-group">
                <label for="state_or_prov">State/Province</label>
                {{ form.state_or_prov(class="form-control", id="edit_state_or_prov") }}
            </div>
            
            <div class="form-group">
                <label for="res_district">District</label>
                {{ form.res_district(class="form-control", id="edit_res_district") }}
            </div>
            
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
